function Main.main 1
push constant 505
push constant 0
push constant 511
push constant 255
call Screen.drawRectangle 4
pop temp 0
push constant 0
push constant 0
push constant 7
push constant 255
call Screen.drawRectangle 4
pop temp 0
push constant 0
push constant 249
push constant 511
push constant 255
call Screen.drawRectangle 4
pop temp 0
push constant 0
push constant 0
push constant 511
push constant 7
call Screen.drawRectangle 4
pop temp 0
call Game.new 0
pop local 0
push local 0
call Game.run 1
pop temp 0
push constant 0
return
